In [1]:
import math
import random
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import LinearRegressionMultipleVariables as lr

In [2]:
df = pd.read_csv("C:\\Users\\pedro\\OneDrive\\Documentos\\CEFETMG\\2023.2\\Inteligência Computacional\\CI-Algorithms\\Linear Regression\\Multiple Variables\\data2.txt", sep=",")
df.head()

   Tamanho(m^2)  Quartos   Preço
0          2104        3  399900
1          1600        3  329900
2          2400        3  369000
3          1416        2  232000
4          3000        4  539900